---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Infrastructure:
    - Synology NAS:
        icon: synology-dsm.png
        href: https://192.168.1.165:5001
        description: Synology DiskStation Manager
