---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

base: https://synology-1.kite-hoki.ts.net

layout:
  Media:
    style: column
  Download clients:
    style: column
