---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/

base: http://homepage.home.arpa

layout:
  Media:
    style: column
  Download clients:
    style: column
