[global]
  checkNewVersion = false
  sendAnonymousUsage = false

[log]
  level = "{{ log_level }}"

[accessLog]
  filePath = "/etc/traefik/access.log"

[api]
  dashboard = true
  insecure = true

[entryPoints]
  [entryPoints.web]
    address = ":80"

[providers]
  [providers.docker]
    endpoint = "tcp://docker-socket-proxy:{{ docker_socket_proxy_port }}"
    exposedByDefault = false
    network = "{{ docker_network }}"
    watch = true

# Dashboard accessible at http://{{ traefik_ip }}:8080
# Services accessible at http://<service>.{{ traefik_home_domain }}
