[providers.docker]

[api]
	dashboard = true

[log]
	level = "{{ log_level }}"

[accessLog]
  filePath = "/etc/traefik/access.log"

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"

[certificatesResolvers.tailresolver.tailscale]